/.cache/
/auto-save-list/
/dape-breakpoints
/eln-cache/
/projectile-bookmarks.eld
/recentf
/url/
/undo/
/transient/
/elpaca/
/.lsp-session-v1
/tramp
/history
/feed.org
/nov-places
/projects.eld
/request/
